<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>

        <p>Now I am a PhD student in Department of Mechanical & Aerospace Engineering, University of Missouri. My advisor is Guoliang Huang and I am doing researches on metamaterials.</p>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Phone: +1 (573) 489 9584</li>
        </ul>

        <h2>Skill Keywords</h2>

        {% if site.skill_programming_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Programming</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_programming_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Scientific_simulation_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Scientific Simulation</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Scientific_simulation_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Scientific_drawing_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Scientific Drawing</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Scientific_drawing_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Design_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Design</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Design_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>